.header{
    background-image: url("../img/photo_2021-11-15_12-41-08.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;

}